#game_h1title{
  text-align: center;
  margin: 47px 0;
  font-size: 400%;
  font-family: 'IM Fell DW Pica SC', serif;
  color: #D5C36E;
  background: linear-gradient(transparent 30%, #F4A03F 50%, white 80%);
  text-shadow: -1px -1px #585425, 1px -1px #585425, 1px 1px #585425, -1px 1px #585425,
               -2px -2px #CB9D5E, 2px -2px #CB9D5E, 2px 2px #CB9D5E, -2px 2px #CB9D5E,
               -3px -3px #585425, 3px -3px #585425, 3px 3px #585425, -3px 3px #585425;
}

.game_screen{
  min-width: 500px;
  max-width: 900px;
  margin: auto;
}
