h1{
  position: relative;
  text-align: center;
  margin: 47px 0;
  font-size: 400%;
  width: 50%;
  font-family: 'IM Fell DW Pica SC', serif;
  color: #D5C36E;
  background: linear-gradient(transparent 30%, #F4A03F 50%, white 80%);
  text-shadow: -1px -1px #585425, 1px -1px #585425, 1px 1px #585425, -1px 1px #585425,
               -2px -2px #CB9D5E, 2px -2px #CB9D5E, 2px 2px #CB9D5E, -2px 2px #CB9D5E,
               -3px -3px #585425, 3px -3px #585425, 3px 3px #585425, -3px 3px #585425;

}




#game_screen{
  min-width: 500px;
  margin: auto;
  text-align: center;
}

#left_screen {
  text-align: left;
  max-height: 500px;
  min-width: 410px;
  position: relative;
  background: -moz-linear-gradient(top, #ff6347, #fff);
  top: 160px;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  margin: 1em;
}

#text_quiz {
  text-align: left;
  max-height: 150px;
  position: relative;
  background: -moz-linear-gradient(top, #ff6347, #fff);
  top: 160px;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 80px;
  margin: 1em 0;
  padding: 20px 10px;
  border: 2px solid #db7093;
  box-shadow: -10px 16px #b35b78;
}

#text_quiz:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}

#text_quiz:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #db7093;
  z-index: 1;
}

#text_quiz p {
  margin: 0px 30px;
}

#time_axis{
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
  background: -moz-linear-gradient(top, #ff6347, #fff);
  background: -webkit-linear-gradient(top, #ff6347, #fff);
  background: linear-gradient(to bottom, #ff6347, #fff);
}

#time_axis p{
  font-size: 150%;
  margin: 0;
  color: #ffffff;
}

#time_axis #after{
  position: absolute;
  bottom: 0;
  color: #ff6347;
}

#text_timeline{
  text-align: center;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

#text_result {
    max-height: 200px;
    min-width: 400px;
    margin: 4em 0;
    background: #f5f5f5;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.22);
}

#text_result #text_result_title_blue,  #text_result_title_red{
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 0px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#text_result #text_result_title_red{
    background: #ff6347;
}

#text_result p {
    padding: 5px 20px 15px 20px;
    margin: 0;
}


.choices_btn, .choices_btn:hover{
  outline : none;
  min-width: 400px;
  max-width: 500px;
  min-height: 50px;
  padding: 0.5em 1em;
  margin: 1em;
  background: white;
  border: dashed 1px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
}

.choices_btn:hover {
  background-image: -webkit-linear-gradient(top, #dcdcdc, #c0c0c0);
  background-image: linear-gradient(to bottom, #dcdcdc, #c0c0c0);
  color: #ffffff;
  text-shadow: 0px 1px 0px #000000;
}

.choices_btn:active {
  border: dashed 1px #dcdcdc;
}

#tl, #qa{
  min-width: 400px;
  max-width: 500px;
  margin: 2em;
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 1px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

#qa{
    min-width: 300px;
    max-width: 400px;
    background: #ffe6ea;
    box-shadow: 0px 0px 0px 5px #ffe6ea;
}

#tl:after ,#qa:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

#qa:after{
    border-color: #ffc0cb #fff #ffc0cb;
}

#tl p, #qa p{
    margin: 0;
    padding: 0;
}

#text_all_timeline {
  border-collapse: collapse;
  border-spacing: 0;
}

#text_all_timeline th,#text_all_timeline td{
  padding: 10px;
  text-align: left;
}

#text_all_timeline tr:nth-child(odd){
  background-color: #eee
}


.flex{
  display: table;
  width: 100%;
  display: flex;
}
